

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    line-height: 40px;  
}

.homepage-name{
    font-size: 48px;
    text-align: center;
    color: #B83217;
    padding-top: 60px;
}

h1, h2, p, ul{
    text-align: left;
}

ul{
    list-style-position: inside;
}

h1{
    font-size: 40px;
}

img{
    position:relative;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

nav li{
    display:inline;
    padding-right:20px;
}

nav li a:hover{
    color: #B83217;
}
  
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.navi-link{
    display: inline-block;
    text-align: center;

}

#toTop{
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    background-color:#FAEAE5;
    border:none;
}

#toTop:hover {
    background-color: #F7AE97;
}

.social-icons{
    display: inline-block;
    flex-direction: space-between;
}
.social-icons li{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.fa-instagram,.fa-linkedin{
    color: #B83217;
    cursor: pointer;
}


.skip a{
    background: rgba(184,50,23,0.5);
    color: #ffffff;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -53px;
    text-decoration:none;
    }

.skip a:focus{
    top: 0;
    left: 0;
  }

.currentpage a{
    color: #B83217;
    text-decoration: underline;
}
/* Intro part*/
mark{
      background-color: rgba(184,50,23,0.1);
      font-weight:lighter;
  }

.self-intro{
      text-align: center;
  }

.text-animation{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;

  }
.text-animation-div{
    overflow: hidden;
    position: relative;
    float: right;
    height: 50px;
    padding-top:-15px;
    padding-bottom: 20px;
    padding-left:10px;
    margin-top: 35px;
  }
  
.text-item{
    font-weight: bold;
    padding: 0 px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
  }

.initial-text-item{
      font-size:32px;
      color:#000000;
  }

.text-animation-list { 
    animation: text-animation-list 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; 
    text-align: center;
}

@keyframes text-animation-list {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

/* project part*/

.buddyfind{
    padding-top: 20px;
}

.buddyfind img, .peopleplanet img{
    -webkit-transform: scale(0.8);
    transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; /*Webkit: Animation duration*/
}

.buddyfind img{
    width: 100%;
    height:auto; 
}

.peopleplanet img{
    width: 100%;
    height:auto; 
}

.buddyfind img:hover{
    transform:scale(0.85); 
    box-shadow:0px 0px 30px lightgray;
}

.peopleplanet img:hover{
    transform:scale(0.85); 
    box-shadow:0px 0px 30px lightgray; 
}

/* buddyfind project*/
.buddyfind-main,.peoplep-main{
    padding:80px;
}

.buddyfind-header-picture {
  background-attachment: fixed; 
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;      
  height: 500px;  
  background-image: url("../images/project-1-header-image.png");
  overflow: hidden;
}

.buddyfind-main strong{
    color: #AB220D;
}

.buddyfind-challenge, .buddyfind-heading-2, .planetp-heading-2,.planetp-challenge{
    font-size: 30px;
}

.buddyfind-heading{
    color: #AB220D;
    line-height: 100px;
}

.buddyfind-design-process img, .buddyfind-ideate img,.buddyfind-final-design img{
    height: auto;
    width: 100%;
}


.buddyfind-heading-2{
    color: #724F36;

}

.try-prototype{
    text-align: center;
}

#prototype{
    width: 350px;
    height: 250px;
    border: 0;
}
/* people planet */
.peoplep-header-picture{
    background-attachment: fixed; 
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover;      
    height: 500px;  
    background-image: url("../images/project-2-header-image.png");
    overflow: hidden;
  }

.quiztime {
    display: inline-flex;
    padding: 10px;
    background-color: transparent;
    width: 300px;
    height: 420px;
    perspective: 1000px; 
  }
  
  .flipcard {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5)
  }
  
  .quiztime:hover .flipcard{
    transform: rotateY(180deg);
  }
  
  .quiztime:focus .flipcard{
    transform: rotateY(180deg);
  }

  .q1-front, .q1-back, .q2-front,.q2-back, .q3-front,.q3-back {
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .q1-front{
    background-color: #74A417;  
  }

  .q2-front{
    background-color: #95D121;
  }

  .q3-front{
    background-color: #C6F172;
  }

  .q1-front,.q2-front,.q3-front{
      line-height: 30px;
  }

  .q1-back, .q2-back, .q3-back{
    line-height: 30px;
    background-color: #7B4213;
    overflow: hidden;
    color: white;
    transform: rotateY(180deg);
  }

  .flipcard h1{
      text-align: center;
      padding-top: 20px;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 20px;
  }

  .flipcard p{
      text-align: left;
      padding: 15px;
      font-size: 18px;
  }

  .peoplep-design-process img, .peoplep-game-design img,.mywork img{
      width: 100%;
      height: auto;
  }
  .peoplep-heading{
      color: #2F8208;
      line-height: 100px;
  }

  .peoplep-challenge{
      color:#2F8208;
  }

  .peoplep-heading-2{
      color:#7B4213;
  }

  .peoplep-project-info strong{
      color:#2F8208;
  }

  .mywork{
    display: inline-flex;
    padding: 10px;
  }

/* about me page */
.selfintro{
    padding: 60px;
}

.self{
    color:#B83217;
}

.gallery{
    
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(9,450px);
    padding-bottom: 40px;
    margin: auto;
    width: 95vw;
    box-sizing: border-box;

}

.gallery div{
    overflow: hidden;
}

/* The Modal (background) */
.myslides{
    display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Position the "next button" to the left */
  .prev{
      left:0;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .text {
    color: #000000;
    font-weight:bold;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 3px;
    width: 100%;
    text-align: center;
  }

/* contact form */
.contactme{
    padding: 60px;
    background-color: #FEE2D9;
}

legend,label{
    font-weight: bold;
    color: #AB220D
}

label{
    font-size: 20px;
}
.contact{
    text-align: left;
}
input[type=text], #message {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

input[type=submit] {
  width: 20%;
  background-color: #AB220D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: content-box;
}

input[type=submit]:hover {
  background-color: #AB220D;
}

input[value="Send Message"]{
    font-size: 10px;
    text-align: center;
}

/* footer */
footer{
    text-align: center;
    padding: 10px;
}

html{
    scroll-behavior: auto; 
}

@media all and (min-width: 720px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px;
      }

    .buddyfind img{
        width: 700px;
        height:400px; 
    }

    .peopleplanet img{
        width: 700px;
        height:400px; 
    }

    #prototype{
        width: 600px;
        height: 500px;
    }

    .trailer iframe{
        width:500px;
        height: 300px;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6,350px);
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }

    .img1,.img2{
        grid-row: 1/span 2;
    }
    .img3, .img5{
        grid-row: 3/span 2;
    }
    
    .img4, .img8, .img9{
        grid-column:1/span 2;
    }

    .img6, .img7{
        grid-row: 6/ span 2;
    }

    input[value="Send Message"]{
        font-size: 15px;
        text-align: center;
    }


}

@media only screen and (min-width: 1024px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 20px;
      }

    .buddyfind-design-process img{
        justify-content: center;
        align-items: center;
    }

    .gallery{ 
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
      }
      
      .img1{
          grid-column: 1/ span 1;
      }

      .img2{
        grid-column:2/ span 1;
    }

      .img4{
        grid-row: 3/5;
        grid-column:1/-1;
      }
      .img8{
          grid-row: 5/7;
      }
      .img6,.img7{
          grid-row: 7/9;
      }
      .img9{
          grid-row:10/12;
      }
      .img3,.img5{
          grid-row: 13/15;
      }

      input[value="Send Message"]{
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none;
      transition: none;
    }

    .text-animation-list{
        text-align: center;
        animation: none;
    }

    .buddyfind img, .peopleplanet img{
        -webkit-transform: none;
        transform: none;
    }

    .buddyfind img:hover,.peopleplanet img:hover{
        transform:none; 
    }

    .flipcard {
        transition: none;
      }


  }