html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    line-height: 40px;
   
}

.homepage_name{
    font-size: 48px;
    text-align: center;
    color: #F29E53;
    padding-top: 60px;
}

h1, h2, p, ul{
    text-align: left;
}

ul{
    list-style-position: inside;
}

h1{
    font-size: 40px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
  }

nav{
    padding: 20px 0; 
    text-align: right;
    grid-column: 1/ -1;
    grid-row: 1/ -1;
  
}

nav ul > li:hover a,header[role="header"] nav ul > li.nav-active a{ text-decoration:none; color:#F29E53}

nav li{
    display:inline;
    padding-right:20px;
}
  
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.skip a{
    background: rgba(242,158,83,0.5);
    color: #ffffff;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -53px;
    text-decoration:none;
    }

.skip a:focus{
    top: 0;
    left: 0;
  }
/* Intro part*/
mark{
      background-color: rgba(242,158,83,0.3);
      font-weight:lighter;
  }

.self_intro{
      text-align: center;
  }

.text_animation{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;

  }
.text_animation_div{
        overflow: hidden;
        position: relative;
        float: right;
        height: 50px;
        padding-top:-15px;
        padding-bottom: 20px;
        padding-left:10px;
        margin-top: 35px;
  }
  
.text_item{
    font-weight: bold;
    padding: 0 px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
  }

.initial_text_item{
      font-size:32px;
      color:#000000;
  }

.text_animation_list { animation: text_animation_list 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes text_animation_list {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

/* project part*/

.buddyfind{
    padding-top: 20px;
}

.buddyfind img{
    transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    transition-duration: 0.3s; /*Webkit: Animation duration*/
}

.peopleplanet img{
    transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    transition-duration: 0.3s; /*Webkit: Animation duration*/
}

.buddyfind img:hover{
    transform:scale(0.85); 
    box-shadow:0px 0px 30px lightgray;
}

.peopleplanet img:hover{
    transform:scale(0.85); 
    box-shadow:0px 0px 30px lightgray; 
}

/* buddyfind project*/
.buddyfind_main{
    padding:80px;
}

.buddyfind_header_picture{
background-attachment: fixed; 
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;      
  height: 500px;               
  background-image: url("../images/project_1_header_image.png");
  overflow: hidden;
}

.buddyfind_main strong{
    color: #EB7A5E
}

.buddyfind_challenge{
    font-size: 30px;
}

.buddyfind_heading{
    color: #EB7A5E;
    line-height: 100px;
}

.buddyfind_design_process img{
    justify-content: center;
    align-items: center;
}

.buddyfind_heading_2{
    font-size: 30px;
    color: #F5C095;

}

.try_prototype{
    text-align: center;
}

/* footer */
footer{
    text-align: center;
}






  